<div class="mt-2">
  <h2>Scores by Episode</h2>
</div>

<hr/>

<div class="list-group">
  <% @episodes.each do |episode| %>
    <%= link_to episode_path(episode), class: "list-group-item list-group-item-action" do %>
      <%= %(#{episode.number} "#{episode.title}") %>
    <% end %>
  <% end %>
</div>


