<div class"container" style="height: 100vh; display: grid; justify-content: center; align-items: center">
  <%= link_to standings_path do %>
    <%= image_tag "/sfl-39-logo.png", class: "img-fluid", style: "margin-bottom: 20vh" %>
  <% end %>
</div>
