<h2>Teams</h2>

<%= link_to "New Team", new_admin_team_path, class: "btn btn-link" %>
<ul class="list-group">
  <% @teams.each do |team| %>
    <li class="list-group-item">
      <%= team.name %>
      <%= link_to "Edit", edit_admin_team_path(team) %>
      <%= link_to "Delete", admin_team_path(team), data: { confirm: "Are you sure?" }, method: :delete %>
    </li>
  <% end %>
</ul>
